name: Run BTC Scraper (Stable Chrome)

on:
  workflow_dispatch:
  schedule:
    - cron: "51 * * * *"   # Every hour at the start of the hour
jobs:
  run-scraper:
    runs-on: ubuntu-latest
    env:
      GSPREAD_JSON: ${{ secrets.GSPREAD_JSON }}

    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Set up Python with caching
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'

      # Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt

      # Install Chrome + ChromeDriver (pinned version 140 to avoid mismatch)
      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v2
        with:
          chrome-version: 142
          install-chromedriver: true
      # Set system timezone to Egypt (Cairo)
      - name: Set timezone
        run: sudo timedatectl set-timezone Africa/Cairo

      # Debug installed versions and timezone
      - name: Check Chrome, Driver & Timezone
        run: |
          google-chrome --version
          chromedriver --version
          date
      # Debug installed versions
      - name: Check Chrome & Driver
        run: |
          google-chrome --version
          chromedriver --version

      # Run your scraper
      - name: Run scraper
        env:
            GSPREAD_JSON: ${{ secrets.GSPREAD_JSON }}
        run: python scraper.py
